@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://c.ekstatic.net/ecl/aircraft-exterior/boeing-777/emirates-boeing-777-300er-flying-above-sea-d600x400.jpg?h=xVDCnzToEwzxjvQouUMazQ" alt="">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uQHhYRuaEtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
